<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-custom static-top">
  <div class="container">
    <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" style="width: 60px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item " [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' *ngIf="!loggedIn">
          <a class="nav-link" href="https://iapplication.testiw.codesamaj.com/blog/" [routerLink]='["/"]' (click)='collapse()'>
            Login
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!loggedIn">
          <a class="nav-link"  [routerLink]='["/signup"]' (click)='collapse()'>Sign Up</a>
        </li>

        <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="loggedIn" >
          <a class="nav-link" [routerLink]='["/account"]' (click)='collapse()'>Account</a>
        </li>

        <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="loggedIn">
          <a  class="nav-link" (click)='logout()'>
             Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
