
<!-- Page Content -->
<div class="container">

  <!-- Heading Row -->
  <div class="row align-items-center my-5">

    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <div>
        <h1 class="font-weight-normal">Be together, whenever.</h1>
        <p>
          A simple way to text, video chat and plan things all in one place.
        </p>
      </div>

      <div id="LoginForm">
        <div class="container">
          <!--<h1 class="form-heading">Login</h1>-->
          <div class="login-form">
            <div class="main-div">
              <div class="">
                <!--<p>Please enter your email and password</p>-->
                <p class="text-primary">{{logginInMessage}}</p>
                <p class="text-danger">{{errorMessage}}</p>
              </div>
              <form #loginForm="ngForm" (ngSubmit)="login()">
                <div class="form-group row">
                  <input type="email" class="form-control col-md-3" [(ngModel)]="model.username" name="username" id="inputEmail" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <input type="password" class="form-control col-md-3" [(ngModel)]="model.password" name="password" id="inputPassword" placeholder="Password">
                </div>
                <button type="submit" [hidden]="!loginForm.valid" class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="https://srdapp.com/appdata/COMMON%20RESOURCES/44612985_257609764945259_253729135791177728_n.png"
           alt="">
    </div>

    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->
  <!-- Content Row -->
  <div class="top_card">

  </div>


  <!-- /.row -->

</div>
<!-- /.container -->

<div class="hey" id="aboutus">
  <h1 class="_6b6b text-center">So many ways to find jobs&nbsp;and make connections !</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title text-center">TECH-CONNECT</h2>
            <img class="card-img-top" src="http://www.southeastern.edu/resources/universitybrand/images/wordmarkonly.gif"
                 alt="About Tech Connect">
            <p class="card-text">
              <br><br><br><a href="http://www.southeastern.edu/admin/career_srv/student_alumni/find_a_job/tech_connect/index.html"
                             target="_blank">Tech-Connect</a> is our annual, major-specific technology career fair held every
              spring,
              featuring approximately 40 local and national employers seeking to fill available positions within
              their organization. Tech-Connect is an opportunity for you to establish your presence in the technology
              world, network with potential future employers and learn more about the opportunities available within
              your specialized field.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title text-center">BUILD A RESUME</h2>
            <img class="card-img-top" src="http://www.southeastern.edu/admin/career_srv/student_alumni/find_a_job/career_fair/pre_fair/images/cf_resume_review.png">
            <p class="card-text">
              <br>Your resume is the first impression you will make on an employer, so it is very
              important for you to develop a professional, error-free resume. Career Services offers many online
              resources to assist you in composing a professional resume. <br> You can email your resume to <a href="mailto:resumereview@southeastern.edu">
                resumereview@southeastern.edu
              </a>to obtain a more detailed resume review, or you can contact our office at <a href="tel:9855492121">
                (985)
                549-2121
              </a> to
              schedule an appointment with a Career Counselor.
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title text-center">FIND A JOB</h2>
            <img class="card-img-top" src="http://www.southeastern.edu/admin/career_srv/lionhire/images/lionhire-logo.png"
                 alt="Ace the Interview">
            <p class="card-text">
              <br><br><br><a href="http://www.southeastern.edu/admin/career_srv/lionhire/index.html"
                             target="_blank">LionHire</a> is the new system that allows you to take care of your career
              preparation
              and job search needs - all in one place! In LionHire, you will need to create a free user profile. Once
              you've done that, you will be able to create a resume in the system, or upload a current one, apply for
              jobs and internships, sign up for On-Campus Interviews, practice interviewing skills, and take career
              assessments.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pad"></div>
