.align{
   margin-left: 25%;
}

.container{
    width: 500px;
}

.pad{
    padding: 5%;
}

.float-right {
  float: right;
  margin-right: 12px
}

.fa {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.fa_color {
  color: darkblue;
}

.fa_nolike {
  color: lightslategray;
}
